.login_form{
    padding: 20px;
    width: 300px;
    height: 50vh;
}

.container{
    width: 340px;
    margin:70px auto;
}

.tab_panel{
    width: 300px;
}

.avatar_style{
    background-color: green;
}

.button_style{
    padding: 10px;
    margin: 20px auto;

}