.login_form{
    padding: 20px;
    width: 300px;
    height: 50vh;
}

.container{
    width: 340px;
    margin:70px auto;
}

.tab_panel{
    width: 300px;
}


.button_style:hover{
    backgroundColor: #1A2930;
}